*{
	margin: 0;
	padding: 0;
	font-family:  Sriracha;
}
header
{
	background-image: url(marvel.jpg);
	background-size: cover;
	height: 100vh;

}
.paragraph p
{
	color: skyblue;
	font-size: 30px;
	float: right;
	margin-top: 300px;
}
